//-( ͡° ͜ʖ ͡°)
doctype html
html
  head
      title raid calculator
      link(rel="stylesheet", type="text/css", href="css/lib/bootstrap.min.css")
      link(rel="stylesheet", type="text/css", href="css/main.css")
      script(type="application/javascript", src="js/bundle.js")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a(href="#").navbar-brand raid calculator
  
  .container
    .col-ms-12
      p.instructions write the size of hard disk drive you have down below as comma seperated values
      .error there was an error with parsing your input.
      textarea(placeholder="eg. '500, 1tb, 2tb'").input
      .submitButton calculate
      
