doctype html
html
  head
      title raid calculator
      link(rel="stylesheet", type="text/css", href="css/lib/bootstrap.min.css")
      link(rel="stylesheet", type="text/css", href="css/main.css")
      script(type="application/javascript", src="js/main.js")
  body
    div 
      h1 raid calculator
